# package directories
node_modules
jspm_packages


# Coveralls
coverage

# Editor
.vscode



# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.lock.hcl

# Lambda package
dist/
bin/
